/************************************
  *		Main: Content&Form
  ***********************************/

#content {
	max-width: 960px;
	padding: 8px 32px;
}

#microblog_form textarea{
	width: 100%;
	height: 100px;
}

/************************************
  *		Sidebar : Project list
  ***********************************/

#microblog_projects {
	float:left;
}

#microblog_projects,
.microblog_project,
.microblog_project a {
	width: 300px;
}

.microblog_project a {
	display: block;
}

.microblog_project {
	position: relative;
	border: 1px solid #C0C0C0;
}

.microblog_project:hover {
	background-color: #F0F0F0;
}

.microblog_project.selected {
	border: 2px solid #C0C0C0;
	background-color: #F0F0F0;
	font-weight: bold;
}

.microblog_project.selected:after, .microblog_project.selected:before {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
}

.microblog_project.selected:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #F0F0F0;
	border-width: 11px;
	top: 50%;
	margin-top: -11px;
}
.microblog_project.selected:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #C0C0C0;
	border-width: 14px;
	top: 50%;
	margin-top: -14px;
}

/************************************
  *		Content : Microblog list
  ***********************************/

#microblog_entries {
	width: 600px;
	float:right;
}

.microblog {
	padding: 0.5em 0;
	clear:both;
	border-bottom: 1px solid #C0C0C0;
}
.microblog:first-child {
	border-top: 1px solid #C0C0C0;
}

.microblog .icon-gravatar {
	margin: 1em 1em 1em 0.5em;
}

.microblog .entry {
	float: right;
	width: 520px;
}

.microblog .entry .head h4 {
	border: 0px;
	display: inline;
	padding-right: 0px;
}
.microblog .entry .head .info {
	float: right;
	text-align:right;
}
.microblog .entry .head .login {
	color: #808080;
}
.microblog .entry .body {
	margin-top: 3em;
}
.microblog .entry .head h4 a {
	color: #444;
}
.microblog .entry .head .info a,
.microblog .entry .more a {
	color: #808080;
}

.microblog .entry .head h4 a:hover,
.microblog .entry .head .info a:hover,
.microblog .entry .more a:hover {
	color: #2A5685;
}

.microblog:hover {
	background-color: #F0F0F0;
}

/************************************
  *		Content : More Button
  ***********************************/

#microblog_more {
	width: 600px;
	float:right;
}

#link_more {
	clear:both;
	border: 1px solid #C0C0C0;
	text-align:center;
	margin-top: 1em;
	padding: 1em 0;
	display: block;
}

#link_more:hover {
	background-color: #F0F0F0;
}

/************************************
  *		Common	
  ***********************************/

#microblog_content:after,
.microblog:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
}
* html #microblog_content, * html .microblog { display: inline-block; }
* html #microblog_content, * html .microblog { height: 1%; }
#microblog_content, .microblog { display: block; }
